.sectioncard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 10%;
}

.maincard {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  margin-top: 8%;
  gap: 20%;
  border: 1px solid gray;
}

.Card {
  width: 35vw;
  height: 40vh;
}
.cardimage {
  width: auto;
  border-radius: 50%;
}

.btn {
  width: 100px;
  background-color: yellow;
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
