.main {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 50px;
  width: 900px;
  height: 200px;
  margin-left: 19%;
}

.main h3 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.gridcontainer {
  display: grid;
  gap: 5px;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 10px;
}
.gridcontainer1 {
  display: grid;
  /* gap: 5px; */
  grid-template-columns: 1fr 2fr;
  margin-bottom: 10px;
}

.griditem {
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.griditem img {
  filter: brightness(150%);
  height: 300px;
}

.griditem h5 {
  text-align: center;
  padding: 2px;
  margin-top: -9%;
  color: whitesmoke;
  position: relative;
  z-index: 999;
}
