.BannerText {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100px;
  margin-left: 10%;
  margin-top: 15%;
  text-decoration: none;
  text-align: center;
}

.BannerText h1 {
  font-family: poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 30%;
}

.line {
  border-left: 2px solid #6a6a6a;
  height: 160px;
  position: absolute;
  left: 50%;
  margin-left: 10px;
  top: 120%;
}

.text2 {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin-left: 45pc;
  margin-top: -30%;
}

.text2 h1 {
  text-align: left;
  margin-left: 20px;
  padding: 8px;
}

.text2 p {
  display: flex;
  width: 350px;
  height: auto;
  justify-content: center;
  align-items: center;
  word-wrap: normal;
  text-wrap: wrap;
  color: #6a6a6a;
}
